.catalog {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 3%;

    .movie_notfound {
        color: #fff;
    }
}

.filter_movies {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
}

.results_not_Found {
    color: #ffff;
    font-size: 35px;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .filter_movies {
        margin-top: 5%;
    }
}