.catalog {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 5%;
}

.filter_movies {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.results_not_Found {
    color: #ffff;
    font-size: 35px;
    text-align: center;
}