.message_boundary {
    color: #ffff;
    height: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show_err_btn {
    background: red;
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    color: white;
}