.product_detailed {
    display: flex;
    align-items: center;
    color: #fff;
    background: linear-gradient(to right, rgb(0, 0, 0) 35%, rgba(253, 253, 253, 0));

    .information {
        z-index: 20;
        margin-left: 11%;
        width: 35%;
        margin-right: 3%;

        h1 {
            margin-bottom: 15px;
        }

        .meta_data_container {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 20px;
            margin-bottom: 15px;

            img {
                width: 25px;
            }

            .rating.grey {
                color: #868D86;
            }

            .rating.green {
                color: #0DE509;
            }

            .release_date,
            .genres {
                color: #868D86;
            }
        }

        .close_btn {
            border: none;
            border-radius: 50%;
            padding: 10px 15px;
            color: white;
            background: red;
            font-size: 20px;
        }

        .install_btn {
            border: none;
            border-radius: 30px;
            padding: 15px 25px;
            color: white;
            background: red;
            font-size: 20px;
            margin-top: 15px;
        }

        .description {


            h1 {
                font-size: 70px;
            }
        }
    }

    .img {
        z-index: -1;


    }
}

.ytp-chrome-top .ytp-show-cards-title {
    display: none !important;
}

.ytp-left-controls {
    display: none;
    overflow: hidden;
}