.card {
    background-color: #EEEEEE;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;

    img {
        width: 30%;
    }

    h2,
    p {
        color: #A91079;
        margin: 0;
    }
}