@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
  font-family: 'Nova Square', sans-serif;
  margin: 0;
  background-color: #2E0249;
}

ul {
  margin: 0;
}

h4 {
  margin: 0;
  color: #2E0249;
}